@import 'variables';

section.gallery {
    background-color: transparent;
    min-height: 75vh;
    padding: 40px 0px 40px 0px;
}

.searchResuts {
    background-color: transparent;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
    gap: 1rem;

    li {
        background-color: $blue;
        padding: 0;
    }

    button {
        background-color: transparent;
        border: none;
        padding: 0;
    }

    img {
        object-fit: cover;
    }

    p {
        font-size: 1.6rem;
        line-height: 2.2rem;
        color: white;
        padding: 1rem 0;
        text-transform: uppercase;
    }

    p.modal,
    .modal p {
        text-transform: none;
        color: black;
    }

    .noResults {
        color: black;
    }

    form {
        padding: 1rem 0;
    }

    select {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border: none;
        text-transform: uppercase;
        padding: 0.5rem 1.5rem;
        width: 70%;
        border-radius: 5px;
        color: #525252;
        font-size: 1.6rem;
        letter-spacing: 1px;
        text-align: center;
    }
    
}

@media (max-width: 850px) {
    .searchResuts {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 500px) {
    .searchResuts {
        grid-template-columns: 1fr;
    }
}