@import 'variables';

header {
  background-color: $green;
}

header .wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0px 40px 0px;
}
// media queries
@media(max-width:1260px){
  header{
    justify-content: space-evenly;
  }
}
@media(max-width:750px){
  header{
    flex-direction: column;
  }
}