@import 'variables';
@import 'mixins';

section.slider {
  position: fixed;
  top: 0;
  min-height: 100%;
  background-color:$green;
  border-right: #ffffff 1px solid;
  padding: 30px 0px;
  width: 40%;
  left: -1000px;
  transition: all .5s;
}

section.slider.show {
  left: 0;
}

.hamburgerMenu {
  position: fixed;
  top: 30px;
  left: 30px;
  z-index: 10;
  font-size: 3rem;
  background-color: $green;
  padding: 10px;
  border-radius: 5px;
}

.hamburgerMenu:hover,
.hamburgerMenu:focus {
  cursor: pointer;
  color: $blue;
}

div.sliderList {
  margin: 30px 0;
}

div.listTitleContainer {
  display: flex;
  justify-content: center;
}

button.expandList {
  display: inline-block;
  border: none;
  background-color: $green;
  font-family: inherit;
  font-weight: bold;
  font-size: 2rem;
}

button.expandList:hover,
button.expandList:focus {
  cursor: pointer;
  color: $blue;
}

li.listItem {
  margin: 10px 0;
  list-style-type: none;
}

h2.sliderTitle {
  font-size: 3rem;
}

form.createList input {
  min-width: 0;
  width: 60%;
}

form.createList button {
  width: 30%;
}
.delete,
.deleteList {
  background: none;
  border:none;
  font-size: 3rem;
  transform:rotate(45deg);
}