@import 'variables';
@import 'mixins';

section.slider {
  position: fixed;
  top: 0;
  background-color:$green;
  border-right: #ffffff 1px solid;
  padding: 30px 0px;
  width: 40%;
  left: -1000px;
  transition: all .5s;
  height: 100vh;
  overflow: scroll;
}

section.slider.show {
  left: 0;
}

.gridContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.hamburgerMenu {
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 10;
  font-size: 3rem;
  background-color: $green;
  padding: 10px;
  border-radius: 5px;
  filter: drop-shadow(3px 3px 3px gray);
}

.hamburgerMenu:hover,
.hamburgerMenu:focus {
  cursor: pointer;
  color: $blue;
}

div.sliderList {
  margin: 30px 0;
}

div.listTitleContainer {
  display: flex;
  justify-content: center;
}

li.tvList {
  margin: 10px 0;
  list-style-type: none;
  display: none;
}

li.tvList.show {
  display: block;
}

.collapseList {
  display: inline-block;
  border: none;
  background-color: $green;
  font-family: inherit;
  font-weight: bold;
  font-size: 2.5rem;
  transition: all 0.2s;
  padding-bottom: 5px;
}

.collapseList:hover,
.collapseList:focus {
  cursor: pointer;
  color: $blue;
}

.collapseList.show {
  transform: rotate(180deg);
}

h2.sliderTitle {
  font-size: 3rem;
}

form.createList {
  margin-top: 20px;
}

form.createList input {
  min-width: 0;
  width: 60%;
}

form.createList button {
  width: 30%;
}

.delete,
.deleteList {
  background: none;
  border:none;
  font-size: 3rem;
  transform:rotate(45deg);
}

// vote buttons 

.upvote, .downvote {
  border: none;
  background: none;
  font-size: 3rem;
}
.downvote {
  color: red;
}
.inputButton:hover, .inputButton:focus{
  background:$blue;
  cursor: pointer;
}
.delete:hover, .delete:focus, a:hover,a:focus,.upvote:hover, .downvote:hover, .upvote:focus, .downvote:focus{
  color:$blue;
  cursor: pointer;
}


// Medua Queries

@media (max-width: 768px) {
  section.slider {
    width: 60%;

    .sliderList {
      h2 {
        font-size: 4rem;
      }
    
      h3{
        font-size: 3rem;
      }

      p{
        font-size: 2rem;
        margin: 1rem;
      }
    }

    .collapseList {
      font-size: 4rem;
    }

    .delete {
      padding-bottom: 5px;
    }
  }
}

@media (max-width: 550px) {
  section.slider {
    width: 90%;
  }

  .gridContainer {
    grid-template-columns: 1fr;
  }

  form.createList {
    input, button {
      width: 80%;
      border-radius: 15px;
      margin: 5px 0;
    }
  }
}