@import 'setup';
@import 'mixins';
@import 'typography';
@import 'header';
@import 'footer';
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600&family=Lato&display=swap");

$pink:#f77a9b;
$blue:#00b6f9;
$green:#c4e39c;


.searchResuts {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  gap: 1rem;
}

footer {
  position: absolute;
  bottom: 0;
}

.selectList {
  visibility:hidden;
}

.selectList.show {
  visibility:visible 
}